.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    align-self: center;
    font-size: 2rem;
}

.todos {
    display: flex;
    flex-direction: column;
    max-height: 30rem;
    overflow-y: scroll;
}