.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.me-container {
    width: 30%;
}

.page-view-container {
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
}